Resources:
 AWSEBV2LoadBalancerListener443:
  Type: AWS::ElasticLoadBalancingV2::Listener
  Properties:
    LoadBalancerArn:
      Ref: AWSEBV2LoadBalancer
    Port: 443
    Protocol: HTTPS
    Certificates:
      - CertificateArn: arn:aws:acm:us-east-1:606941321404:certificate/6ec84e69-5b7c-4d28-bf73-dfe91e2e7fb2
    DefaultActions:
      - Type: 'authenticate-cognito'
        AuthenticateCognitoConfig:
          OnUnauthenticatedRequest: 'authenticate' # Redirect unauthenticated clients to Cognito login page
          Scope: 'openid'
          UserPoolArn: arn:aws:cognito-idp:us-east-1:606941321404:userpool/us-east-1_NOTTGEWjU
          UserPoolClientId: 43q4mhg6pdvn5apjmo9neoidc2
          UserPoolDomain: nccverdi.auth.us-east-1.amazoncognito.com
        Order: 1
      - Type: forward # 2. Forward request to target group (e.g., EC2 instances)
        TargetGroupArn: 
          Ref: AWSEBV2LoadBalancerTargetGroup  
        Order: 2
 ListenerAPIHostRule2:
  Type: 'AWS::ElasticLoadBalancingV2::ListenerRule'
  Properties:
    Actions:
      - Type: 'authenticate-cognito'
        AuthenticateCognitoConfig:
          OnUnauthenticatedRequest: 'authenticate' # Redirect unauthenticated clients to Cognito login page
          Scope: 'openid'
          UserPoolArn: arn:aws:cognito-idp:us-east-1:606941321404:userpool/us-east-1_NOTTGEWjU
          UserPoolClientId: 43q4mhg6pdvn5apjmo9neoidc2
          UserPoolDomain: nccverdi.auth.us-east-1.amazoncognito.com
        Order: 1
      - Type: forward
        TargetGroupArn:
          Ref: restapi
        Order: 2
    Conditions:
      - Field: path-pattern
        PathPatternConfig:
          Values: 
            - "/api/*"      
    ListenerArn:
      Ref: AWSEBV2LoadBalancerListener443
    Priority: 1
 ListenerAPIHostRule3:
  Type: 'AWS::ElasticLoadBalancingV2::ListenerRule'
  Properties:
    Actions:
      - Type: forward
        TargetGroupArn: arn:aws:elasticloadbalancing:us-east-1:606941321404:targetgroup/aida-blazegraph-lb-tg/354d9742004f0efe
        Order: 1
    Conditions:
      - Field: path-pattern
        PathPatternConfig:
          Values: 
            - "/blazegraph/*"      
    ListenerArn:
      Ref: AWSEBV2LoadBalancerListener443
    Priority: 2
